<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/partials/page-success.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-success">
    <div id="container">
        <div class="success">
            <img src="/public/images/icons/success-check-icon.svg" alt="Caixa marcada" class="check-icon">
            <div class="success-message">
                <h1>
                Cadastro salvo!
                </h1>
                <p>
                    Tudo certo, seu cadastro está na nossa lista de professores. Agora é só ficar de olho no seu whatsapp. 
                </p>
            </div>
            
        </div>


    </div>
</body>
</html>