* { 
    align-items: center;
    display: flex;
    justify-content: center;
}
#page-success {
    position: absolute;
    
    background-image: url('/public/images/success-background.svg');
    background: var(--color-primary);
}

#page-success #container {
    

    position: absolute;
    color: var(--color-text-in-primary);

}

#page-success #container > img{
    /* width: 100vw;
    height: 80vh; */
    
}

.success {
    /* width: 60%;
    height: 50%; */

    position: absolute;
}

.success img {
    margin: 3.8rem auto;
}

.success-message {
    position: absolute;

    display: block;
    
}

