* { 
    align-items: center;
    display: flex;
    justify-content: center;
}

title {
    display: none;
}

#page-success {
    position: absolute;
    
    background-image: url('/images/success-background.svg');
    background-color: var(--color-primary);
}

#page-success #container {
    max-width: 30rem;

    position: absolute;
    color: var(--color-text-in-primary);

}

.success {
    display: inline;
}

.success img {
    margin: 3.8rem auto;
}

.success-message {
    display: inline;
    
}

.success-message p {
    text-align: center;
}

@media (min-width:700px) {
    #page-success #container {
        max-width: 50rem;
    }
}
